{set:
	$myCartObj  = new Cart();
	$myCartInfo = $myCartObj->getMyCart();
	$siteConfig = new Config("site_config");
}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{echo:$siteConfig->name}</title>
	<link type="image/x-icon" href="{webroot:favicon.ico}" rel="icon">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="apple-touch-icon-precomposed" href="{skin:images/front/logo.gif}">
	<link rel="stylesheet" href="{skin:css/home.css}" />
	{js:jquery}
	{js:form}
	{js:validate}
	{js:dialog}
	{js:artTemplate}
	<script type='text/javascript' src="{theme:javascript/common.js}"></script>
	<script type='text/javascript' src='{theme:javascript/site.js}'></script>
	<link href="{skin:font/css/font-awesome.css}" rel="stylesheet">
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" />
</head>
<body>
	<!--头部信息 开始-->
	<header>
		<div class="header">
		{if:IWeb::$app->getController()->getId() == 'site' && IWeb::$app->getController()->getAction()->getId() == 'index'}
			<a id="kros_user" class="icon iconfont back" href="javascript:void(0)" ><i class="fa fa-home" style="margin-top:12px"></i></a>
		{else:}
			<a id="kros_user" class="icon iconfont back" href="javascript:void(0)" onclick="window.history.back();" title="返回">&#xe71f;</a>
		{/if}

		{if:IWeb::$app->getController()->getId() == 'site' && IWeb::$app->getController()->getAction()->getId() == 'products'}
		<span class="headline">{echo:$siteConfig->name}</span>
		<a id="kros_user" class="icon iconfont search" href="{url:/}" ><i class="fa fa-home" style="margin-top:12px"></i></a>

		{else:}
			<span class="headline">{echo:$siteConfig->name}</span>
			<a class="icon iconfont search " href="javascript:void(0)" onclick="$('.kros_search').toggle();" title="搜索商品">&#xe6fe;</a>
		{/if}

		</div>
	</header>
	<!--头部信息 结束-->

	<div class="viewport" style="margin-top:52px;margin-bottom:20px;min-height:220px;">
		<!--搜索框 开始-->
	<div class="">
		<div class=" kros_search row">
			<form method='get' action='{url:/}'>
				<input type='hidden' name='controller' value='site' />
				<input type='hidden' name='action' value='search_list' />
				<div class="col-lg-12 col-xs-12">
				 <div class="input-group">
				<input class="  form-control"  style="height:31px" type="text" name='word' autocomplete="off" value="输入关键字..." />
					<span class="input-group-btn">
					<button type="submit" class='btn btn-xs btn-primary  ' onclick="checkInput('word','输入关键字...');">搜索</button>
					 </span>
				</div>
				</div>
			</form>
			<!--自动完成div 开始-->
			<ul class="auto_list" style='display:none'></ul>
			<!--自动完成div 开始-->
		</div>
	</div>
		<!--搜索框 结束-->
		{viewcontent}
	</div>
<div class="container">


    <div class="kros_foot row">

		{if:$this->user}
		<div class="login col-lg-6 col-xs-6">
			<a class="reg khidden">{echo:$this->user['username']}您好!</a><a href="{url:/simple/logout}" class="reg">安全退出</a>
		</div>
		{else:}
        <div class="login col-lg-6 col-xs-6">
            <a href="{url:simple/login}">登录</a>
            <span>|</span>
            <a href="{url:simple/reg}">注册</a>
        </div>
	    {/if}

	    <div class="jump col-lg-6 col-xs-6  g_2 text-right">
	    	<a href="#">回顶部</a>
	    </div>
    </div>
</div>
    <!--底部菜单 开始-->
	<div class="s_footer">
	    <ul>
	    <li>
		<a id="kros_a" href="{url:/}">
		<span class="fa-stack fa-lg kros_span" style="font-size:13px">
		<i class="fa fa-circle fa-stack-2x kros_i" style="font-size:27px;color:#f7ab00"></i>
		<i class="fa fa-home fa-stack-1x fa-inverse "></i>
		</span>
		<em>首页</em>
		</a>
	    </li>

	<li>
		<a id="kros_b" href="{url:simple/cart}">
		<span class="fa-stack fa-lg kros_span" style="font-size:13px">
		<i class="fa fa-circle fa-stack-2x kros_i" style="font-size:27px;color:#f7ab00"></i>
		<i class="fa fa-shopping-cart fa-stack-1x fa-inverse "></i>
		</span>
		<em>购物车</em>
		</a>
	</li>


	<li>
		<a id="kros_c" href="{url:/ucenter/index}">
		<span class="fa-stack fa-lg kros_span" style="font-size:13px">
		<i class="fa fa-circle fa-stack-2x kros_i" style="font-size:27px;color:#f7ab00"></i>
		<i class="fa fa-user fa-stack-1x fa-inverse "></i>
		</span>
		<em>个人中心</em>
		</a>
	</li>

	<li>
		<a id="kros_d" href="{url:site/sitemap}">
		<span class="fa-stack fa-lg kros_span" style="font-size:13px">
		<i class="fa fa-circle fa-stack-2x kros_i" style="font-size:27px;color:#f7ab00"></i>
		<i class="fa fa-th fa-stack-1x fa-inverse "></i>
		</span>
		<em>分类</em>
		</a>
	</li>

	    </ul>
	</div>
	<!--底部菜单 结束-->
	<link rel="stylesheet" href="{skin:css/site.css}" type="text/css" />
</body>
</html>
<script type="text/javascript">
    $('input:text[name="word"]').bind({
        keyup:function(){autoComplete('{url:/site/autoComplete}','{url:/site/search_list/word/@word@}','{$siteConfig->auto_finish}');}
    });

    {set:$word = IReq::get('word') ? IFilter::act(IReq::get('word'),'text') : '输入关键字...'}
    $('input:text[name="word"]').val("{$word}");
</script>
