{js:artTemplate}
<script type='text/javascript' src='{theme:javascript/orderFormClass.js}'></script>
<script type='text/javascript'>
//创建订单表单实例
orderFormInstance = new orderFormClass("{url:/__controller__/__action__/__paramKey__/__paramVal__}");

//DOM加载完毕
jQuery(function(){
    //商家信息
    orderFormInstance.seller = {echo:JSON::encode($this->seller)};

    //商品价格
    orderFormInstance.goodsSum = "{$this->final_sum}";

    //配送方式初始化
    orderFormInstance.deliveryInit("{$this->custom['delivery']}");

    //收货地址数据
    orderFormInstance.addressInit();

    //支付方式
    orderFormInstance.paymentInit("{$this->custom['payment']}");
});
</script>
<style>
  .form a {
  margin-right: 0;
}  
</style>
<section class="member_main">
    <div class="white_bg">
        <ul class="list-unstyled container">
            <li><i class="fa fa-shopping-cart kcart"></i>
            </li>
            <li><a href="#">填写和提交订单信息</a></li>
        </ul>
    </div>
    <div class="height15"></div>
    <div class="container info">
        <form action='{url:/simple/cart3}' class="form" method='post' name='order_form' onsubmit='return orderFormInstance.isSubmit()'>
        
            <input type='hidden' name='direct_gid' value='{$this->gid}' />
            <input type='hidden' name='direct_type' value='{$this->type}' />
            <input type='hidden' name='direct_num' value='{$this->num}' />
            <input type='hidden' name='direct_promo' value='{$this->promo}' />
            <input type='hidden' name='direct_active_id' value='{$this->active_id}' />
 
            <div class="cart_box m_10">
                <div class="cont">
                    <!--地址管理 开始-->
                    <div class="">
                        <div class="info_head">
                       收货人信息
                        </div>
                    
                        <!--收货表单信息 开始-->
                        <div id='address_often' class="prompt_4 m_10">
                            <ul class="addr_list block-row" style="padding-bottom:0">
                                {foreach:items=$this->addressList}
                                <li id="addressItem{$item['id']}">
                                    <label>
                                        <input class="radio option-input radio" name="radio_address" type="radio"  style="position:relative" value="{$item['id']}" onclick="orderFormInstance.getDelivery({$item['province']});"/>{$item['accept_name']}&nbsp;&nbsp;&nbsp;&nbsp;{$item['province_val']} {$item['city_val']} {$item['area_val']} {$item['address']}</label>[<a href="javascript:orderFormInstance.addressEdit({$item['id']});" style="color:#005ea7;">修改地址</a>] [<a href="javascript:orderFormInstance.addressDel({$item['id']});" style="color:#005ea7">删除</a>]
                                </li>
                                {/foreach}
                                <li>
                                    <label>
                                        <a href="javascript:orderFormInstance.addressAdd();" style="color:#005ea7;">添加新地址</a></label>
                                </li>
                            </ul>
                            <!--收货地址项模板-->
                        <script type='text/html' id='addressLiTemplate'>
                        <li id="addressItem<%=item['id']%>">
                            <label><input class="radio" name="radio_address" type="radio" value="<%=item['id']%>" onclick="orderFormInstance.getDelivery(<%=item['province']%>);" /><%=item['accept_name']%>&nbsp;&nbsp;&nbsp;<%=item['province_val']%> <%=item['city_val']%> <%=item['area_val']%> <%=item['address']%></label> [<a href="javascript:orderFormInstance.addressEdit(<%=item['id']%>);" style="color:#005ea7;">修改地址</a>] [<a href="javascript:orderFormInstance.addressDel(<%=item['id']%>);" style="color:#005ea7">删除</a>]
                        </li>
                        </script>
                        </div>
             
                      
                    </div>
                    <!--地址管理 结束-->
                </div>
                <!--配送方式 开始-->
                <div class="" >
                    <div class="info_head">
                配送方式
                    </div>
         
                    <!--配送修改 开始-->
                    <div >
                        <ul>
                           {foreach:items = Api::run('getDeliveryList')}
                            <li>
                                <label>
                                    <input type="radio" class="option-input radio" style="position:relative" name="delivery_id" value="{$item['id']}" paytype="{$item['type']}" onclick='orderFormInstance.deliverySelected({$item['id']});' /><span id="deliveryShow{$item['id']}"></span>{$item['name']}</label>
                                {$item['description']} {if:$item['type'] == 2}
                                <a href="javascript:orderFormInstance.selectTakeself({$item['id']});"><span class="red">选择自提点</span></a>
                                <span id="takeself{$item['id']}"></span> {/if}
                            </li>
                            {/foreach}
                        </ul>   
                        <!--配送信息-->
                        <script type='text/html' id='deliveryTemplate'>
                            <span style="color:#e4393c">运费：￥<%=item['price']%></span>
                            <%if(item['protect_price'] > 0){%>
                            <span style="color:#e4393c">保价：￥<%=item['protect_price']%></span>
                            <%}%>
                        </script>

                        <!--物流自提点-->
                    <script type='text/html' id='takeselfTemplate'>
                            [<%=item['address']%> <%=item['name']%> <%=item['phone']%> <%=item['mobile']%>]
                        </script>
                        <ul class="block-row" style="padding-bottom:0">
                            <li>
                                指定送货时间：
                                <label>
                                    <input type='radio' class="option-input radio" style="position:relative" name='accept_time' checked="checked" value='任意' />任意</label>
                                <label>
                                    <input type='radio' class="option-input radio" style="position:relative" name='accept_time' value='周一到周五' />周一到周五</label>
                                <label>
                                    <input type='radio' class="option-input radio" style="position:relative" name='accept_time' value='周末' />周末</label>
                            </li>
                        </ul>
                    </div>
                  
                </div>
                <!--配送方式 结束-->
                <!--支付方式 开始-->
                <div class="" id="paymentBox">
                    <div class="info_head">
                支付方式
                    </div>
                    <ul class="block-row" style="padding-bottom:0">
                      {foreach:items = Api::run('getPaymentList')}
                      {set:$paymentPrice = CountSum::getGoodsPaymentPrice($item['id'],$this->sum);}
                        <li>
                            <input class="radio option-input radio" style="position:relative" name="payment" alt="{$paymentPrice}" onclick='orderFormInstance.paymentSelected({$item['id']});' title="{$item['name']}" type="radio" value="{$item['id']}" />{$item['name']} {$item['note']} {if:$paymentPrice}支付手续费：￥{$paymentPrice}{/if}
                        </li>
                        {/foreach}
                    </ul>
             
            
                </div>
                <!--支付方式 结束-->
                <!--订单留言 开始-->
                <div class="">
                    <div class="info_head">
                         订单附言
                    </div>
          
                    <ul >
                        <li>
                            订单附言：
                            <input class="form-control" type="text" name='message' />
                        </li>
                    </ul>
                
                </div>
                <!--订单留言 结束-->
                <!--购买清单 开始-->
                <div class="block-box">
                    <div class="info_head">购买的商品</div>
                    <ul class="block-row" {if:empty($this->promotion)}style="display:none"{/if}> {foreach:items = $this->promotion}
                        <li class="indent blue">{$item['plan']}，{$item['info']}</li>
                        {/foreach}
                    </ul>
                    <!-- 商品展示 开始-->
                    {foreach:items = $this->goodsList}
                    <div class="pro_list border-bottom">
                        <div class="col-xs-4">
                            <a href="{url:/site/products/id/$item[goods_id]}"><img src="{url:/pic/thumb/img/$item[img]/w/80/h/80}" class="img-responsive" alt=""></a>
                        </div>
                        <div class="col-xs-5">
                            <h10><a href="{url:/site/products/id/$item[goods_id]}">{$item['name']}</a></h10>
                            <br> {if:isset($item['spec_array'])}
                            <h10>{set:$spec_array=Block::show_spec($item['spec_array']);} {foreach:items=$spec_array item=$specValue key=$specName} {$specName}：{$specValue} &nbsp&nbsp {/foreach}
                            </h10>
                            {/if}
                        </div>
                        <div class="col-xs-3">
                            <h10 class="disnone" id="deliveryFeeBox_{$item['goods_id']}_{$item['product_id']}_{$item['count']}"></h10>
                            <br>
                            <h10>数量：{$item['count']}</h10>
                            <br>
                            <h10>小计：￥{$item['sum']}</h10>
                        </div>
                    </div>
                    {/foreach}
                    <!-- 商品展示 结束-->
                </div>
                <!--购买清单 结束-->
                <!--金额结算-->
                <div class="block-box" >
                    <div class="info_head">结算信息</div>
                    <ul class="list-group" style="background:#fff">
                        <li>
                            {if:$this->final_sum != $this->sum}优惠后总金额{else:}商品总金额{/if}：<strong>{$this->final_sum}</strong> - 代金券：<strong name='ticket_value'>0</strong> + 税金：<strong id='tax_fee'>0</strong> + 运费总计：<strong id='delivery_fee_show'>0</strong> + 保价：<strong id='protect_price_value'>0</strong> + 支付手续费：<strong id='payment_value'>0</strong>
                        </li>
                        <li>
                            <input type="button" onclick="javascript:orderFormInstance.ticketShow();" style="width:100%" class="btn btn-primary" id="ticket_a" value="使用代金券" />
                        </li>
                  
                    </ul>
                </div>
                <ul style="padding-bottom:0">
                    <li>
                        是否需要发票？(税金:￥{$this->goodsTax})
                        <input class="radio" class="option-input radio" style="position:relative" onclick="orderFormInstance.doAccount();$('#tax_title').toggle();" name="taxes" type="checkbox" value="{$this->goodsTax}" />
                    </li>
                    <li>
                        <label id="tax_title" style='display:none'>
                            发票抬头：
                            <input type='text' class="form-control" name='tax_title' />
                        </label>
                    </li>
                    <li>
                        应付总额：<span class="red">￥<strong id='final_sum'>{$this->final_sum}</strong></span>元
                    </li>
                    <li>
                        <input type="submit" class="btn btn-primary" style="width:100%" value="提交订单" />
                    </li>
                </ul>
            </div>
        </form>
    </div>
</section>
