<section>
    <div class="pending-detial">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">密码重置</h3>
            </div>
            <div style="padding:10px">
                <form action="{$this->formAction}" method="POST" class="form-inline form" role="form">
                    <div class="form-group">
                        <label class="sr-only" for="">label</label>
                        <input type='password' name="password" class="form-control" id="" placeholder="你想要的新密码">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="">label</label>
                        <input type='password' name="repassword" class="form-control" id="" placeholder="请再次输入新密码">
                    </div>
                    <button type="submit" class="btn btn-primary">确定修改</button>
                </form>
            </div>
        </div>
    </div>
</section>
