{set:$seller_id = IFilter::act(IReq::get('id'),'int')}
{set:$sellerRow=Api::run('getSellerInfo',$seller_id)}
{if:!$sellerRow}
{set:IError::show(403,'商户信息不存在')}
{/if}
<style>	
.thumbnail { background-color: #fff; border: 1px solid #ddd; border-radius: 0; display: block; line-height: 1.42857; margin-bottom: 20px; padding: 4px; transition: border 0.2s ease-in-out 0s; } .thumbnail, .img-thumbnail { box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075); }

</style>
<link rel="stylesheet" href="{skin:css/home_ext.css}" type="text/css">
<div class="main f_r ">
    <div style="margin:0" class="label">
        <a href="javascript:void(0)" class="label1">
            <span class="fa fa-university"></span>{$sellerRow['true_name']}
        </a>
    </div>
    <!--促销规则-->
    <div class="container">
        <div>促销活动</div>
        <div>
            <ul>
                {foreach:items=Api::run('getProrule',$seller_id)}
                <li>{$item['info']}</li>
                {/foreach}
            </ul>
        </div>
    </div>
    <!--促销规则-->
    <div class="container">
        {set:$goodsObj = search_goods::find(array('seller_id' => $seller_id));$resultData = $goodsObj->find();} {if:$resultData} {set:$listSize = search_goods::getListSize(IFilter::act(IReq::get('show_type')))}
        <div class="row">
            {foreach:items=$resultData}
            <div class="col-md-6 col-xs-6">
                <div class="thumbnail">
                    <a title="{$item['name']}" href="{url:/site/products/id/$item[id]}">
                        <img src="{url:/pic/thumb/img/$item[img]/w/$listSize[width]/h/$listSize[height]}" alt="{$item['name']}" title="{$item['name']}" />
                    </a>
                    <div class="caption">
                        <h6>
							<a href="{url:/site/products/id/$item[id]}">{$item['name']}</a>
						</h6>
                    </div>
                </div>
            </div>
            {/foreach}
        </div>
        {$goodsObj->getPageBar()} {else:}
        <p class="display_list mt_10" style='margin-top:50px;margin-bottom:50px'>
            <strong class="gray f14">对不起，没有找到相关商品</strong>
        </p>
        {/if}
    </div>
</div>
