.kros_search {
  box-shadow: none;
  padding: 1rem 1rem;
  top: auto;
  display: none;
}

.yui3-button {
   box-shadow: 0 0 0 1px rgba(194, 150, 150, 0.25) inset, 0 2px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
 }
 input[type="text"], input[type="password"] {
  border: 1px solid #DFDDDF;
  color: #a0a0a0;
  font-size: 14px;
  height: 44px;
  line-height: normal;
}

textarea{
border: 1px solid #DFDDDF;
}

.row_swiper {
  padding: 0;
}
.bx-wrapper .bx-viewport {
  background: none repeat scroll 0 0 #fff;
  border: 0px solid #fff;
  box-shadow: 0 0 0px #ccc;
  left: 0px;
  transform: translateZ(0px);
}
.s_footer {
  background: none repeat scroll 0 0 #fff;
  border-top: 1px solid #dfdddf;
  bottom: 0;
  float: left;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.s_footer ul li {
  float: left;
  height: 53px;
  text-align: center;
  width: 25%;
}
.s_footer ul li a {
  display: block;
  float: left;
  height: 53px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.s_fcolor a {

}
a:link, a:visited, a:hover {
  color: #22222d;
  text-decoration: none;
}
.s_footer ul li a em {
  display: block;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  width: 100%;
}
.s_footer ul li {
  float: left;
  height: 53px;
  text-align: center;
  width: 25%;
}
.fa-15x {
  font-size: 1.5em;
}
.s_fcolor a {
  color: #EC5858;
}
em, cite, i {
  font-style: normal;
}
.fa1 {

  line-height: 1.3;
  margin-top: 6px;

}
.kros_foot{
  padding-bottom:70px;
}
*{letter-spacing: 0}

.login > a,.jump> a,.login > span,.jump> span{
  font-size: 14px;
}
.kros_cur{
  color: #FB3D3D;
}

.px {
    background-color: #fff;
    line-height: 30px;
    text-indent: 10px;
    color: #0C0C0C;
    border:medium none;
    }

 ::-moz-focus-inner {
    border: 0;
    padding: 0;
}


*{margin:0;padding: 0}



.head.col-md-5.col-xs-5.column {
  font-size: 10px;
}

.yui3-u-1-3.badge.bg-dot {
  background: red;
}

input[type=checkbox],input[type=radio] {
	display: inline-block;
	margin:0;
	box-sizing:border-box;
	padding:0;
	*height:13px;
	*width:13px;
}

.left{float: left}  
.total-table table {
  float: right;
  width: auto;
}
.table {
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%;
}

h2 {
  padding-top: 0;
}

.area_box {
  background-color: #fdffee;
  border: 2px solid #ffbf69;
  height: 260px;
  left: 20px;
  overflow: hidden;
  padding: 5px;
  position: absolute;
  top: 15px;
  width: 315px;
}
.area_box li {
  float: left;
  margin: 0;
  padding: 2px;
  color: #636363;
  line-height: 20px;

}

.area_box li a {
  display: block;
  text-align: center;
  width: 50px;
  font-size: 12px;
}
.relative{
  position: relative;
}

.disblock{
  display: block;
}

.disnone{
  display: none;
}

.relative   span {
  line-height: 20px;
}
.btn:hover {
  color: #fff;
}

